<nav class="bg-gray-700 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo à gauche -->
    <a href="/" class="text-xl font-semibold">
      <img
        src="https://media.istockphoto.com/id/157482029/fr/photo/pile-de-livres.jpg?s=612x612&w=0&k=20&c=KsCYUT0VAZl4voY5wgYQHxgu6w7u4Y2kavvziJFvPQM="
        alt="Logo"
        class="h-8"
      />
    </a>

    <!-- Liens de navigation à droite -->
    <div class="flex gap-4">
      <a
        routerLink="/"
        routerLinkActive="text-blue-500"
        class="hover:text-blue-300"
        >Accueil</a
      >
      <a
        routerLink="/livres"
        routerLinkActive="text-blue-500"
        class="hover:text-blue-300"
        >Livres</a
      >
      <a
        routerLink="/emprunts"
        routerLinkActive="text-blue-500"
        class="hover:text-blue-300"
        >Emprunts</a
      >
      <a
        routerLink="/favoris"
        routerLinkActive="text-blue-500"
        class="hover:text-blue-300"
        >Favoris</a
      >
      <a
        routerLink="/compte"
        routerLinkActive="text-blue-500"
        class="hover:text-blue-300"
        >Mon Compte</a
      >
    </div>
  </div>
</nav>
